// Variables
$azul: #3e65a0;
$gris: #f2f2f2;
$blanco: #ffffff;

// Reescribimos variable de Bootstrap
$primary: $azul;
$secondary: $gris;
$white: $blanco;







// Importación de Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';